/* * Purpose: Styles the splashPage.html
* Author: Lee Jia Jing
* Last Modified: 14-Oct-2021 */

/* assigning styles to each heading */
p 
{
  color: white;
}
span 
{
  color: aliceblue;
}
h7 
{
  color: blanchedalmond;
}
h4 
{
  font-family: sans-serif;
  color:blanchedalmond;
}
h5 
{
  width:500px;
  height:80px;
  min-width: initial;
  color:blanchedalmond;
}

/* assign styles to ids */
#title 
{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 100px;
  color: blanchedalmond
}
#startBookingButton 
{
  height:80px;
}

 /* Makes the page dynamic */
 body 
 {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bubble 
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bubble div 
{
  position: absolute;
  display: block;
}

.bubble div:nth-child(1) 
{
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}

.bubble div:nth-child(2) 
{
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

.bubble div:nth-child(3) 
{
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}

.bubble div:nth-child(4) 
{
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}

.bubble div:nth-child(5) 
{
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}

.bubble div:nth-child(6) 
{
  left: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}

.bubble div:nth-child(7) 
{
  left: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

@keyframes fall 
{
  0% 
  {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% 
  {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% 
  {
    transform: translateX (-20px) rotate(90deg);
  }
  60% 
  {
    transform: translateX (-20px) rotate(135deg);
  }
  80% 
  {
    transform: translateX (-20px) rotate(180deg);
  }
  100% 
  {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}
.bubble1 
{
  transform: rotateX(180deg);
}

/* End of dynamic code */